<nav class="p-0 position-fixed d-block" style="height: 100%; width: 50px; background: #333333;" id="nav1">
	<div class="d-flex flex-column">
		<a class="text-center" href="/v1/home" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
			<i class="fa-solid fa-house" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" href="/v1/pages" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
			<i class="fa-solid fa-file-lines" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" href="/v1/faq" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
		   	<i class="fa-solid fa-circle-question" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" href="/v1/newsletter" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
		   	<i class="fa-solid fa-newspaper" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" href="/v1/products" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
		   	<i class="fa-solid fa-cart-shopping" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" href="/v1/payments" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
			<i class="fa-regular fa-credit-card" style="color: #aab3bb;"></i>
		</a>
    <a class="text-center" href="/v1/contactUs" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
      <i class="fa-solid fa-envelope" style="color: #aab3bb;"></i>
		</a>
		<a class="text-center" style="text-decoration: none; color: white; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey;">
			<form action="/logout" method="POST">
				<button type="submit" class="border-0 bg-transparent">
					<i class="fa-solid fa-power-off" style="color: #aab3bb;"></i>
				</button>
			</form>
		</a>
	</div>
</nav>