<nav class="p-0 d-none" style="height: 100vh; width: 150px; background: #333333;" id="nav2">
	<div class="d-flex flex-column justify-content-center">
		<a class="ps-3 list" href="/v1/home" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-solid fa-house" style="color: #aab3bb;"></i> <span class="ms-2">Dashboard</span>
		</a>
		<a class="ps-3 d-flex align-items-center list" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
		   	<i class="fa-solid fa-file-lines" style="color: #aab3bb;"></i> <span class="ms-2" style="margin-right: 50px;">Pages</span>
		   	<i class="fa-solid fa-angle-down" id="drop3" style="color: #aab3bb; cursor: pointer"></i>
		</a>
		<div class="d-flex flex-column justify-content-between d-none">
			<a class="ps-3 list" href="/v1/add-product" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Add Product</a>
			<a class="ps-3 list" href="/v1/addFaq" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Add FAQ</a>
		</div>
		<a class="ps-3 d-flex align-items-center list" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-solid fa-circle-question" style="color: #aab3bb;"></i> 
			<span class="ms-2" style="margin-right: 50px;">FAQ</span>
			<i class="fa-solid fa-angle-down" id="drop1" style="color: #aab3bb; cursor: pointer"></i>
		</a>
		<div class="d-flex flex-column justify-content-between d-none">
			<a class="ps-3 list" href="/v1/faq" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">All</a>
			<a class="ps-3 list" href="/v1/addFaq" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Add FAQ</a>
		</div>
		<a class="ps-3 list" href="/v1/newsletter" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-solid fa-newspaper" style="color: #aab3bb;"></i> <span class="ms-2">Newsletter</span>
		</a>
		<a class="ps-3 d-flex align-items-center list" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-solid fa-cart-shopping" style="color: ##aab3bb;"></i> 
			<span class="ms-2" style="margin-right: 5px;">Ecommerce</span>
			<i class="fa-solid fa-angle-down" id="drop2" style="color: #aab3bb; cursor: pointer"></i>
		</a>
		<div class="d-flex flex-column justify-content-between d-none">
			<a class="ps-3 list" href="/v1/orders" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Orders</a>
			<a class="ps-3 list" href="/v1/products" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Products</a>
			<a class="ps-3 list" href="/v1/customers" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Customers</a>
			<a class="ps-3 list" href="/v1/categories" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Product categories</a>
			<a class="ps-3 list" href="/v1/labels" style="text-decoration: none; color: #aab3bb; padding: 10px 0; font-size: 13px;">Product Labels</a>
		</div>
		<a class="ps-3 list" href="/v1/payments" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-regular fa-credit-card" style="color: #aab3bb;"></i> <span class="ms-2">Payments</span>
		</a>
    <a class="ps-3 list" href="/v1/contactUs" style="text-decoration: none; color: #aab3bb; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<i class="fa-solid fa-envelope" style="color: #aab3bb;"></i> <span class="ms-2">Contact Us</span>
		</a>
		<a class="ps-3 list" style="text-decoration: none; padding: 10px 0; border-top: 1px solid grey; border-bottom: 1px solid grey; font-size: 14px;">
			<form action="/logout" method="POST">
				<button type="submit" class="border-0 bg-transparent" style="color: #aab3bb;">
					<i class="fa-solid fa-power-off" style="color: #aab3bb;"></i> <span class="ms-2" id="lout">Logout</span>
				</button>
			</form>
		</a>
	</div>
</nav>