<nav class="navbar navbar-dark fixed-top" style="background: #333333;">
	<div class="container-fluid">
		<div class="row w-100 d-flex align-items-center">
		  	<div class="d-flex flex-row justify-content-between" style="width: 150px;">
		  		<a class="navbar-brand d-none" href="#" style="text-decoration: none; color: #aab3bb;" id="navImg">
		  			<img src="https://h4kig.com/storage/sans-titre-1.png" width="45" height="45">
		  		</a>
			    <button class="bg-transparent" type="button" id="navBtn">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			</div>
			<div class="col text-end">
			    <a class="me-3" href="https://h4kig.com/" style="text-decoration: none; font-size: 13px; color: #aab3bb;"><i class="fa-solid fa-globe" style="color: #aab3bb;"></i> View Website</a>
			    <a class="me-3" href="#" style="text-decoration: none; font-size: 13px; color: #aab3bb;">
			    	<i class="fa-solid fa-bell" style="color: #aab3bb;"></i>
			    </a>
			    <a class="me-3" style="text-decoration: none; font-size: 13px; color: #D6DAE0;">
			    	<button type="button" class="pb-1 pt-1 ps-2 pe-2 me-1 text-white border-0" style="background: #fcc404; border-radius: 50%; font-size: 15px; font-weight: 700;">H</button>
			    	H4KIG...
			    	<!-- <i class="fa-solid fa-angle-down" style="color: #aab3bb;"></i> -->
			    </a>
			</div>
		</div>
	</div>
</nav>